/* Write a CSS rule to style the body tag to modify the font family and font size properties. */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    background-color: rgba(192, 192, 192, 0.75);
    
}

nav {
    background-color: blue;
}

#dog {
    display: inline-block;
    width: 10%;
    height: auto;
    border-radius: 50%;
}

/* Write a CSS rule to style the li tag to modify the display and width properties.   */

li {
    display:flex;
    width: 20%;
}

/* Write a CSS rule to style the main tag to modify the background color and font size property */
main {
    background-color: rgba(255, 124, 124, 0.75);
    font-size: 16px;
}

/* Write a CSS rule to style the footer tag to modify the background color property. */
footer {
    background-color: rgba(124, 255, 229, 0.75);
   
}

/* Write a CSS rule to style the h1 tag to modify the text alignment, font family, and color  properties.  */
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(172, 56, 56);
}

/* Write a CSS rule to style the p tag to modify the line height property.  */

p {
    line-height: 1.5;
}

#walks {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 1%;
    grid-gap: 1%;
    vertical-align: middle;
    overflow: auto; 
}

#walks img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    vertical-align: middle;
    align-self: center;
}

#parks {
    display: flex;
    margin: 1%;
    vertical-align: middle;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#parks img {
    display: block;
    margin: 10px;
}
