/* Write a CSS rule to style the body tag to modify the font family and font size properties. */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Write a CSS rule to style the header tag to modify the background color property. */
header {
    background-color: rgba(124, 255, 229, 0.750);
    font-size: 20px;
}

/* Write a CSS rule to style the nav tag to modify the background color property. */
nav {
    background-color: rgba(124, 179, 255, 0.75);

}
/* Write a CSS rule to style the main tag to modify the background color and font size property */
main {
    background-color: rgba(255, 124, 124, 0.75);
    font-size: 16px;
}

/* Write a CSS rule to style the footer tag to modify the background color property. */
footer {
    background-color: rgba(124, 255, 229, 0.75);
    font-size: 16px;
}

/* Write a CSS rule to style the li tag to modify the display and width properties.   */
li {
    display: inline-block;
    width: 200px;
}

/* Write a CSS rule to style the h1 tag to modify the text alignment, font family, and color  properties.  */
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(172, 56, 56);
}

/* Write a CSS rule to style the p tag to modify the line height property.  */

p {
    line-height: 1.5;
}