body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

/* header {
    background-color: brown;
    
} */

nav {
    background-color: aquamarine;
    display: inline-block;
    width: 100%;

    img {
        width: 10%;
        position: relative;
        top: 20px;
    }

    ul {
        display: inline-block;
        width: 80%;
    }
}

main {
    background-color: azure;
    font-size: 20px;
    margin-top: 10px;

    .grid {
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: space-around;
        align-items: center;
        row-gap: 10px;
    
        img {
            width: 100%;
        }
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

footer {
    background-color: antiquewhite;
}

li {
    display: inline-block;
    width: auto;
    margin-left: 15%;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(84, 27, 216);
}

p {
    line-height: 20px;
}